<nav>
  <a routerLink="/login">
      <button mat-raised-button color="warn" aria-label="home" style="margin-top: 0.4%;top:0;position:sticky;margin-left:0.4%;"(click)='clearStorages()'>
        <mat-icon>home</mat-icon>
      </button>
  </a>
  <a routerLink="/clients">
      <button mat-raised-button color="warn" aria-label="clients"  style="top:0;margin-left:0.4%;position: sticky;">Clients
      </button> 
  </a>
  <a routerLink="/devices">
    <button mat-raised-button color="warn" aria-label="devices"  style="top:0;margin-left:0.4%;position: sticky;">Devices
    </button> 
  </a>
</nav>
<div style="margin-left: 50%;margin-right: 50%;">
  <h2 >Playing Spaces</h2>
  <a routerLink="/addplayingspace">
    <button mat-raised-button color="primary" >Add</button> 
  </a>
  
</div>
<mat-list>
  <mat-divider></mat-divider>
</mat-list>
<div style="column-count: 3;column-width: 100%;justify-content: space-evenly;margin-top: 10px;margin-left: 3%;">
  <app-playing-space *ngFor="let space of spaces"
  [space] = "space"
  ></app-playing-space>
</div>
