<a routerLink='/playingspaces'>
    <button mat-raised-button color="warn" style="margin:0.4%;" >Back to Playing Spaces</button>
</a>
<h1 style="margin-left:50%;margin-right: 50%;margin-top: 10%;">Add Space</h1>
<form [formGroup]="myForm"novalidate  style="margin-left:46%;margin-top: 3%;">
    <br>
    
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Is Empty?</mat-label>
        <mat-select [(value)]="selectedState">
          <mat-option value=true>true</mat-option>
          <mat-option value=false>false</mat-option>
        </mat-select>
        
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill" style="width: 50%;right:15%;height: 30%;">
        <mat-label>Choose device</mat-label>
        <mat-select [(value)]="selectedDeviceId" >
            <div *ngFor="let device of devices" style="width:100%;height: max-content;">
                <mat-option value={{device.Id}} style="margin-top:0.7%;width:100%;height: max-content;">
                    <app-device [device]="device" style="margin-top:0.7%;">Device</app-device>
                </mat-option>
            </div>
        </mat-select>
        
      </mat-form-field>
</form>
<a routerLink='/playingspaces'>
    <button mat-raised-button color="primary"(click)="onNewSpace()" style="margin-left: 50%;margin-right: 50%;" >Submit</button>
</a>
