<nav>
  
  <a routerLink="/login">
      <button mat-raised-button color="warn" aria-label="home" style="top:0;position:sticky;margin-left:0.4%;"(click)='clearStorages()'>
        <mat-icon>home</mat-icon>
      </button>
  </a>
  <a routerLink="/devices">
    <button mat-raised-button color="warn" aria-label="clients"  style="top:0;margin-left:0.4%;position: sticky;">Devices
    </button> 
  </a>
  <a routerLink="/playingspaces">
    <button mat-raised-button color="warn" aria-label="spaces"  style="top:0;margin-left:0.4%;position: sticky;">Playing Spaces
    </button> 
  </a>

</nav>
<div style="margin-left: 50%;margin-right: 50%;">
  <h2 >Clients</h2>
  <a routerLink="/addclient">
    <button mat-raised-button color="primary" >Add</button> 
  </a>
</div>
<mat-list>
  <mat-divider></mat-divider>
</mat-list>
<div style="column-count: 3;column-width: 30%;justify-content: space-evenly;margin-top: 10px;margin-left: 4%;">
  <app-client *ngFor="let customer of customers"
  [client] = "customer"
  ></app-client>
</div>
    
 
  


  