<div style="overflow:hidden;border: rgb(2, 2, 2);border-style: solid;border-radius: 6px;padding:10px;border-width: 1px;width: 80%;page-break-inside: avoid;justify-content:space-evenly;margin: 0.7%;">
    <app-device-delete-request style="position: static;"
      [deleteDevice]="device"></app-device-delete-request>
    <div style="position: relative;">
      <h4>Название:<br/><b>{{device.name}}</b></h4>
      Номер устройства:<b>{{device.Id}}</b>
      <br/>
      В хорошем состоянии:<b>{{device.In_Nice_Condition}}</b>
      
    </div>
</div>
