<a routerLink="/login">
  <button mat-raised-button color="warn" aria-label="home"  style="margin-left:0.4%;">
    <mat-icon>home</mat-icon>
  </button> 
</a>
<a routerLink="/clients">
  <button mat-raised-button color="warn" aria-label="clients"  style="margin-left:0.4%;">Clients
  </button> 
</a>
<a routerLink="/playingspaces">
  <button mat-raised-button color="warn" aria-label="spaces"  style="top:0;margin-left:0.4%;position: sticky;">Playing Spaces
  </button> 
</a>
<a routerLink="/devices">
  <button mat-raised-button color="warn" aria-label="devices"  style="top:0;margin-left:0.4%;position: sticky;">Devices
  </button> 
</a>
<h2 style="margin-left: 52%;">Administraitors of system</h2>
<mat-list role="list" style="width:100%">
  <mat-list-item role="listitem" style="padding: 60px; margin-left: 30px;" >
  <app-user *ngFor="let user of users"
  [user] = "user"
  ></app-user>
  </mat-list-item>
<!-- <ul class="users">
  <li *ngFor="let user of users">
    <span class="badge">{{user.User_Name}}</span> 
  </li>
</ul> -->