<h1  style="margin-left: 46%;padding-top: 10%;">
    Авторизация
</h1>
<form [formGroup]="myForm"novalidate (ngSubmit)="onSubmit()" style="margin-left:45%;margin-top: 3%;">
    <br>
    <mat-form-field>
        <input matInput placeholder="User Name" formControlName="username"> 
        <mat-error *ngIf="username==null ||username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
            Name is required.
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Password" formControlName="password"> 
    </mat-form-field>
    <mat-error *ngIf="getCorrect()==false">
                Entered fields are incorrect
    </mat-error>
    <br>
</form>
<button mat-raised-button color="primary"(click)="onSubmit()" style="margin-left: 48%;">Submit</button>

